@page "/generalConfigurations"
@inject ConfigurazioneClient confClient
@inject IStringLocalizer<App> localizer
@attribute [Authorize]






<div class="row-1 d-flex justify-content-between flex-wrap flex-md-nowrap  pt-0 mb-64">





    <!--TITOLO PAGINA-->
    <div class="col-md-5  text-left pb-4 border-bottom">

        <div class="col  text-left d-inline-block ">
            <div class="page-header">
                <h1 class="h1"><b>@localizer["Configurazioni"]</b> @localizer["Generali"]</h1>

            </div>
        </div>


    </div>
    <!--FINE TITLE PAGE-->
    <!--ROW BOTTONI-->
    <div class="col-md-7 pb-4 border-bottom">






    </div>	   <!--FINE BUTTON TOP DX-->

</div>

<!--FINE ROW 1 . TITOLI + BUTTON DX-->


@if (ListaConfigurazioni == null)
{
    <p><em>@localizer["Caricamento"]...</em></p>
}
else
{


<div class="row-3 col-md-12 ms-sm-auto col-lg-12 px-md-4  pt-0 pb-4 mb-4">


  
    <EditForm Model="Input" OnValidSubmit="SalvaConfigurazioni">

        <div class="col-md-2  text-left pb-4 float-lg-left">


            <div class="form-select filtriInput">
                <label class="form-label">@localizer["PeriodoValidita"] @localizer["Garanzia"]</label>

                <InputSelect @bind-Value="Input.Garanzia" @oninput="ResetSubmitTrigger">
                    @foreach (DurataValiditaConfigurazione durata in Enum.GetValues(typeof(DurataValiditaConfigurazione)))
                        {
                        <option value="@durata">@durata.Description()</option>
                        }
                </InputSelect>
                <ValidationMessage For="@(() => Input.Garanzia)" />
            </div>

        </div>


        <div class="col-md-2  text-left pb-4 float-lg-left ">

            <div class="form-select filtriInput">
                <label class="form-label">
                    @localizer["PeriodoValidita"] @localizer["Password"]
                </label>

                <InputSelect @bind-Value="Input.Password" @oninput="ResetSubmitTrigger">
                    @foreach (DurataValiditaConfigurazione durata in Enum.GetValues(typeof(DurataValiditaConfigurazione)))
                        {
                        <option value="@durata">@durata.Description()</option>
                        }
                </InputSelect>
                <ValidationMessage For="@(() => Input.Password)" />

            </div>
        </div>



        <div class="col-md-1  text-left pb-4 float-lg-left mt-36">
            <button type="submit" class="checkout-button btn btn-warning btn-primary w100 uppercase" disabled="@isSubmitting">
                @localizer["Salva"]
            </button>
        </div>

        
            <DataAnnotationsValidator />
     
        
    </EditForm>

        @if (submitSucceded == true)
        {
<div class="col-md-4  text-left pb-4 float-lg-left mt-48 alert-success"><p>@localizer["ModificheSuccesso"]</p></div>
        }
        else if (submitSucceded == false)
        {
<div class="col-md-4  text-left pb-4 float-lg-left pt-48 alert-danger"><p>@localizer["ModificheErrore"]</p></div>
        }

   
</div>
        }
