@page "/configurazioni"
@inject ConfigurazioneClient confClient

<h1><b>Configurazioni</b> Generali</h1>

@if (ListaConfigurazioni == null)
{
    <p><em>Caricamento in corso...</em></p>
}
else
{
    <div class="main">
        <EditForm Model="Input" OnValidSubmit="SalvaConfigurazioni">
            <div class="form-field">
                <label>Periodo Validità Garanzia</label>
                <div>
                    <InputSelect @bind-Value="Input.Garanzia" @oninput="ResetSubmitTrigger">
                        @foreach (DurataValiditaConfigurazione durata in Enum.GetValues(typeof(DurataValiditaConfigurazione)))
                        {
                            <option value="@durata">@durata.Description()</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => Input.Garanzia)" />
                </div>
            </div>

            <div class="form-field">
                <label>Periodo Validità Password</label>
                <div>
                    <InputSelect @bind-Value="Input.Password" @oninput="ResetSubmitTrigger">
                        @foreach (DurataValiditaConfigurazione durata in Enum.GetValues(typeof(DurataValiditaConfigurazione)))
                        {
                            <option value="@durata">@durata.Description()</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => Input.Password)" />
                </div>
            </div>


            <button type="submit" class="checkout-button btn btn-warning" disabled="@isSubmitting">
                Salva
            </button>
            <DataAnnotationsValidator />
        </EditForm>

        @if (submitSucceded == true)
        {
            <div>Modifiche effettuate con successo.</div>
        }
        else if (submitSucceded == false)
        {
            <div>Le modifiche sono andate in errore, si prega di riprovare.</div>
        }

    </div>
}
