@page "/detailservicepartner/{servicePId}"

@inject UtenteClient httpClient
@attribute [Authorize]
@inject IStringLocalizer<App> localizer
@inject MailClient mailClient
@inject UtenteClient utenteClient
@inject ServicePartnerClient servicePartnerClient

<div class="under-Header">
        <div class="u-h-left">
            <div class="top">
                <div class="TechSt"><strong>@SpSelected.RagioneSociale</strong></div>
                <div class="butt">
                    @{
                        var servicePartner = @SpSelected as ServicePartnerDto;
                        <TelerikButton OnClick="@(() => EditSp(servicePartner.Id))">@localizer["ModificaSP"]</TelerikButton>
                    }
                </div>
                
            </div>
            <hr />
            <div class="middle">
                <div class="Forn"><span class="span">@localizer["CodiceFornitore"] : </span><strong>@SpSelected.CodiceFornitore</strong> </div>
                <div class="CClient"><span class="span">@localizer["CodiceCliente"] : </span><strong>@SpSelected.CodiceCliente</strong></div>
            </div>
            <hr />
            <div class="bottom"></div>
        </div>

        <div class="u-h-right">
            <div class="btn-ad">
                <div class="bloc-sin-a-Add">
                    <span class="utent">@localizer["Utenti"]</span>
                    <span class="ut-Abil">@localizer["Abilitati"] / @SpSelected.Utenti.Where(x => x.IsAbilitato == true).Count()</span>
                    <span class="ut-Disab">@localizer["Disabilitati"] / @SpSelected.Utenti.Where(x => x.IsAbilitato == false).Count()</span>
                </div>
                <div>
                    <TelerikButton Class="btn-add" OnClick=@(()=> ShowAddDialog = true)>@localizer["AggiungiUtente"]</TelerikButton>
                </div>

            </div>
            <div class="Cerca">
                <div>
                    <input class="border-rod-first" @bind-value="SearchText" @bind-value:event="oninput" placeholder=@localizer["CercaUtenti"] />
                </div>
                <div class="border-rod">
                    <TelerikDropDownList Width="180px" Class="border-rod" PopupClass="dropdown-ite"
                                         Data="@ListaScelta" ValueChanged="@( (string v) => MyValueChangeHandler(v) )" DefaultText="@((SceltaCorrente==null)? @localizer["StatoUtente"]:null)">
                    </TelerikDropDownList>
                </div>
            </div>
        </div>
 </div>


<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" @bind-Visible=@ShowEditDialog Modal="true">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <EditSPDialog SPToUpdate="SpSelected" OnClose="@(() => ShowEditDialog = false)" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>

<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" Modal="true" @bind-Visible="ShowEditDialog">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <EditUtenteDialog UtenteToUpdate="UtenteSelected" OnClose="@(() => ShowEditDialog = false)" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>

<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" @bind-Visible=@ShowAddDialog Modal="true">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <AddUserDialog SPToUpdate="@SpSelected" OnClose="@(() => ShowAddDialog = false)" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>


<TelerikGrid Data="@(ListaUtenti_Filtered)"
             EditMode="@GridEditMode.Popup"
             Pageable="true"
             Height="500px"
             Resizable="true"
             Sortable="true">
    <GridColumns>
        <GridColumn Field=@nameof(UtenteDto.UserName) Title=@localizer["UTENTI"] />
        <GridColumn Field=@nameof(UtenteDto.Nome) Title=@localizer["NOME"] />
        <GridColumn Field=@nameof(UtenteDto.Cognome) Title=@localizer["COGNOME"] />
        <GridCommandColumn Context="lav">
            @{
                var utenteDto = lav as UtenteDto;
                <GridCommandButton Command="EditLavorazione" Icon="edit" OnClick="@(() => EditUtente(utenteDto.Id))" />
            }
        </GridCommandColumn>
        <GridCommandColumn Context="lav">
            @{
                var utenteDto = lav as UtenteDto;
                <GridCommandButton Command="" Icon="" ImageUrl="/img/keyLogo.jpg" OnClick="@(() => sendMail(utenteDto.Id))" />
            }
        </GridCommandColumn>
        <GridCommandColumn Width="75px" Context="dif">
            @{ var utente = dif as UtenteDto;
                <TelerikSwitch OffLabel=" " OnLabel=" " OnChange="@(() => UpdateEnableUtente(utente.Id))" @bind-Value="@utente.IsAbilitato"></TelerikSwitch> }
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>

@*}*@

<style>
    .large-button {
        border: none;
    }

    .under-Header {
        height: 145px
    }

    .u-h-left {
        position: absolute;
        left: 24px;
        width: 630px;
    }

    .u-h-right {
        position: absolute;
        right: 24px;
        width: 840px;
        height: 130px;
        display: flex;
    }

    .top {
        display: flex;
        flex-direction: row;
    }

    .butt {
        margin-left: 425px;
    }

    .border-rod {
        width: 30px;
        position: absolute;
        right: 0px
    }

    .border-rod-first {
        margin-right: 190px;
    }

    .dropdown-ite {
        height: 130px;
    }

    .Cerca {
        display: flex;
        flex-direction: row;
        height: 60px;
        /*width: 60px;*/
        position: absolute;
        right: 8px;
        bottom: 0px
    }

    .btn-add {
        color: aliceblue;
        background-color: forestgreen;
        width: 180px;
        position: absolute;
        right: 8px;
        top: 0px;
    }

    div.k-widget.k-window.modal-app {
        width: 250px;
        height: 600px;
        border: 1px solid white
    }

    .modal-app .k-window-content.k-content.k-dialog-content {
    }

    .modal-app .k-button.telerik-blazor.k-primary.k-form-submit {
        border: 2px solid dodgerblue;
        color: aliceblue;
        background-color: dodgerblue;
        width: 700px;
    }

    .CClient {
        margin-left: 350px;
    }

    .Forn {
        float: left;
    }

    .span {
        font-size: 10px;
        padding-bottom: 20px;
    }

    .bloc-sin-a-Add {
        border-left: 1px solid #DCDCDC;
        display: flex;
        flex-direction: row;
    }

    .ut-Abil {
        width: 100px;
        height: 15px;
        color: forestgreen;
        margin-left: 15px
    }

    .ut-Disab {
        width: 100px;
        height: 15px;
        color: red;
        margin-left: 30px
    }

    .utent {
        margin-left: 8px;
        font-size: 10px;
        padding-top: 3.5px;
    }

    .TechSt {
        height: 30px
    }

    /*    .k-dialog-titlebar.k-header {
        background: white
    }*/

    GridCommandColumn {
        color: aliceblue;
        background-color: dodgerblue;
        width: 75px
    }
</style>



