@page "/detailservicepartner/{servicePId}"

@inject UtenteClient httpClient
@attribute [Authorize]
@inject IStringLocalizer<App> localizer
@inject MailClient mailClient
@inject UtenteClient utenteClient
@inject ServicePartnerClient servicePartnerClient


<div class="row-1 d-flex justify-content-between flex-wrap flex-md-nowrap  pt-0 fit-content">
    <!--TITOLO PAGINA-->
    <div class="col-md-5  text-left pb-4 border-bottom">

        <div class="col  text-left d-inline-block ">
            <div class="page-header">
                <h1 class="h1" style="text-transform:uppercase;"><b>@SpSelected.RagioneSociale</b></h1>
            </div>
        </div>
        <div class="col  text-right d-inline-block  float-lg-right pr-40" style="margin-top:8px;">
            <i class="bi bi-gear-fill float-lg-left  blu" style="margin-top:3px;"></i>
            <span class="font12 grigio px-2">
                @{
                    var servicePartner = @SpSelected as ServicePartnerDto;
                    <TelerikButton Class="linkNormal" OnClick="@(() => EditSp(servicePartner.Id))">@localizer["ModificaSP"]</TelerikButton>
                }
            </span>
        </div>

    </div>	   <!--FINE TITLE PAGE-->
    <!--ROW BOTTONI-->
    <div class="col-md-7 pb-4 pr-0">

        <div class="col  text-left d-inline-block  barraStrumenti">
            <i class="bi bi-people-fill float-lg-left  blu pt-1"></i>
            <span class="font12 grigio px-2">@localizer["Utenti"]</span>
            <span class="font18 verde px-2">@localizer["Abilitati"] / <b>@SpSelected.Utenti.Where(x => x.IsAbilitato == true).Count()</b></span>
            <span class="font18 rosso px-4">@localizer["Disabilitati"] / <b>@SpSelected.Utenti.Where(x => x.IsAbilitato == false).Count()</b></span>
        </div>

        <div class="col-5  text-right d-inline-block float-lg-right p-0">
            <a href="javascript: history.back()" Class="btn btn-grigio btn-lg mx-1"><i class="bi bi-arrow-return-left"></i></a>
            <TelerikButton Class="btn btn-verde btn-lg mx-1" OnClick=@(()=> ShowAddDialog = true)>@localizer["AggiungiUtente"]</TelerikButton>
        </div>
    </div>
</div>

<!-- BARRA FILTRI-->
<div class="row-2 d-inline w-100 mb-4 pt-0 pb-4 pt-4 border-bottom barraFiltri">

    <div class="col-md-12 ms-sm-auto col-lg-12 fit-content pr-0">

        <div class="col  text-left d-inline-block  float-lg-left pt-2 mr-80">
            <span class="font12 grigio px-2">@localizer["CodiceFornitore"]:</span>  <span class="font18 nero px-2"><b>@SpSelected.CodiceFornitore</b></span>
        </div>

        <div class="col  text-left d-inline-block  float-lg-left pt-2">
            <span class="font12 grigio px-2">@localizer["CodiceCliente"]:</span>  <span class="font18 nero px-2"><b>@SpSelected.CodiceCliente</b></span>
        </div>

        <div class="col  text-right d-inline-block float-lg-right p-0">

            <div class="form-group rowFiltri">
                <i class="bi bi-search float-lg-right icoSearch blu"></i>



                <input class="form-control float-lg-right filtriInput mx-1" @bind-value="SearchText" @bind-value:event="oninput" placeholder=@localizer["CercaUtenti"] />

               

                <TelerikDropDownList Class="select mx-1"  PopupClass="dropdown-ite"
                                     Data="@ListaScelta" ValueChanged="@( (string v) => MyValueChangeHandler(v) )" DefaultText="@((SceltaCorrente==null)? @localizer["StatoUtente"]:null)">
                </TelerikDropDownList>

            </div> <!--FINE form-group-->

        </div>
    </div>

</div>
<!--FINE BARRA FILTRI-->


<TelerikGrid Data="@(ListaUtenti_Filtered)"
             EditMode="@GridEditMode.Popup"
             Pageable="true"
             Class="table table-striped"
             Resizable="true"
             Sortable="true">
    <GridColumns>
        <GridColumn Field=@nameof(UtenteDto.UserName) Title=@localizer["UTENTI"] />
        <GridColumn Field=@nameof(UtenteDto.Nome) Title=@localizer["NOME"] />
        <GridColumn Field=@nameof(UtenteDto.Cognome) Title=@localizer["COGNOME"] />
        <GridCommandColumn Context="lav" Width="80px">
            @{
                var utenteDto = lav as UtenteDto;
                <GridCommandButton Class="btnIcon bgBianco white" Command="EditUtente" Icon="" ImageUrl="/img/Icons/edit.svg" OnClick="@(() => EditUtente(utenteDto.Id))" />
            }
        </GridCommandColumn>
        <GridCommandColumn Context="lav" Width="80px">
            @{
                var utenteDto = lav as UtenteDto;
                <GridCommandButton Class="btnIcon bgBianco white" Command="" Icon="" ImageUrl="/img/Icons/key.svg" OnClick="@(() => sendMail(utenteDto.Id))" />
            }
        </GridCommandColumn>
        <GridCommandColumn Width="80px" Context="dif">
            @{ var utente = dif as UtenteDto;
                <TelerikSwitch Class="switch_white" OffLabel=" " OnLabel=" " OnChange="@(() => UpdateEnableUtente(utente.Id))" @bind-Value="@utente.IsAbilitato"></TelerikSwitch> }
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>

<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" @bind-Visible=@ShowEditDialog_SP Modal="true">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <EditSPDialog SPToUpdate="SpSelected" OnClose="CloseAndRefresh" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>

<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" @bind-Visible=@ShowEditDialog Modal="true">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <EditUserDialog UtenteToUpdate="UtenteSelected" OnClose="CloseAndRefresh" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>

<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" @bind-Visible=@ShowAddDialog Modal="true">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <AddUserDialog SPToUpdate="SpSelected" OnClose="CloseAndRefresh" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>
