@page "/detailservicepartner/{servicePId}"

@inject UtenteClient httpClient
@attribute [Authorize]
@inject IStringLocalizer<App> localizer
@inject MailClient mailClient
@inject UtenteClient utenteClient
@inject ServicePartnerClient servicePartnerClient

<div class="under-Header">
        <div class="u-h-left">
            <div class="top">
                <div class="TechSt"><strong>@SpSelected.RagioneSociale</strong></div>
                <div class="butt">
                    @{
                        var servicePartner = @SpSelected as ServicePartnerDto;
                        <TelerikButton OnClick="@(() => EditSp(servicePartner.Id))">@localizer["ModificaSP"]</TelerikButton>
                    }
                </div>
            </div>
            <hr />
            <div class="middle">
                <div class="Forn"><span class="span">@localizer["CodiceFornitore"] : </span><strong>@SpSelected.CodiceFornitore</strong> </div>
                <div class="CClient"><span class="span">@localizer["CodiceCliente"] : </span><strong>@SpSelected.CodiceCliente</strong></div>
            </div>
            <hr />
            <div class="bottom"></div>
        </div>

        <div class="u-h-right">
            <div class="btn-ad">
                <div class="bloc-sin-a-Add">
                    <span class="utent">@localizer["Utenti"]</span>
                    <span class="ut-Abil">@localizer["Abilitati"] / @SpSelected.Utenti.Where(x => x.IsAbilitato == true).Count()</span>
                    <span class="ut-Disab">@localizer["Disabilitati"] / @SpSelected.Utenti.Where(x => x.IsAbilitato == false).Count()</span>
                </div>
                <div>
                    <TelerikButton Class="btn-add" OnClick=@(()=> ShowAddDialog = true)>@localizer["AggiungiUtente"]</TelerikButton>
                </div>

            </div>
            <div class="Cerca">
                <div>
                    <input class="border-rod-first" @bind-value="SearchText" @bind-value:event="oninput" placeholder=@localizer["CercaUtenti"] />
                </div>
                <div class="border-rod">
                    <TelerikDropDownList Width="180px" Class="border-rod" PopupClass="dropdown-ite"
                                         Data="@ListaScelta" ValueChanged="@( (string v) => MyValueChangeHandler(v) )" DefaultText="@((SceltaCorrente==null)? @localizer["StatoUtente"]:null)">
                    </TelerikDropDownList>
                </div>
            </div>
        </div>
 </div>


<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" @bind-Visible=@ShowEditDialog Modal="true">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <EditSPDialog SPToUpdate="SpSelected" OnClose="CloseAndRefresh" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>

<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" Modal="true" @bind-Visible="ShowEditDialog">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <EditUtenteDialog UtenteToUpdate="UtenteSelected" OnClose="CloseAndRefresh" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>

<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" @bind-Visible=@ShowAddDialog Modal="true">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <AddUserDialog SPToUpdate="@SpSelected" OnClose="CloseAndRefresh" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>

<TelerikGrid Data="@(ListaUtenti_Filtered)"
             EditMode="@GridEditMode.Popup"
             Pageable="true"
             Height="500px"
             Resizable="true"
             Sortable="true">
    <GridColumns>
        <GridColumn Field=@nameof(UtenteDto.UserName) Title=@localizer["UTENTI"] />
        <GridColumn Field=@nameof(UtenteDto.Nome) Title=@localizer["NOME"] />
        <GridColumn Field=@nameof(UtenteDto.Cognome) Title=@localizer["COGNOME"] />
        <GridCommandColumn Context="lav">
            @{
                var utenteDto = lav as UtenteDto;
                <GridCommandButton Command="EditLavorazione" Icon="edit" OnClick="@(() => EditUtente(utenteDto.Id))" />
            }
        </GridCommandColumn>
        <GridCommandColumn Context="lav">
            @{
                var utenteDto = lav as UtenteDto;
                <GridCommandButton Command="" Icon="" ImageUrl="/img/keyLogo.jpg" OnClick="@(() => sendMail(utenteDto.Id))" />
            }
        </GridCommandColumn>
        <GridCommandColumn Width="75px" Context="dif">
            @{ var utente = dif as UtenteDto;
                <TelerikSwitch OffLabel=" " OnLabel=" " OnChange="@(() => UpdateEnableUtente(utente.Id))" @bind-Value="@utente.IsAbilitato"></TelerikSwitch> }
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>

<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" @bind-Visible=@ShowEditDialog Modal="true">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <EditSPDialog SPToUpdate="SpSelected" OnClose="@(() => ShowEditDialog = false)" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>