@page "/reportDetail"
@page "/reportDetail/{id}"

@inject IStringLocalizer<App> Localizer
@inject CurrentStateProvider StateProvider
@inject RapportoClient HttpClient
@inject LavorazioneClient LavorazioneClient
@inject RestExternalServiceClient RestClient
@inject NavigationManager NavigationManager
@attribute [Authorize]

<div class="row-1 d-flex justify-content-between flex-wrap flex-md-nowrap pt-0">
    <div class="col-md-5 text-left pb-4 border-bottom">
        <div class="col text-left d-inline-block ">
            <div class="page-header">
                <h1 class="h1"><b>@Localizer["Rapporto"] /</b> @Id</h1>
            </div>
        </div>
    </div>
    <div class="col-md-7 pb-4 border-bottom pr-0">
        <div class="col text-left d-none barraStrumenti"> </div>
        <div class="col text-right d-inline-block float-lg-right p-0">

            <a href="javascript: history.back()" Class="btn btn-grigio btn-lg mx-1"><i class="bi bi-arrow-return-left"></i></a>

            @if (CurrentStepIndex == 3)
            {
                <TelerikButton Class="btn btn-primary btn-lg mx-1" OnClick="(() => ShowAddVoceCosto = true)">@Localizer["Inserisci"] @Localizer["VoceCosto"] </TelerikButton><i class="bi bi-plus icoPlus"></i>
            }
            <TelerikButton Class="btn btn-primary btn-verde btn-lg mx-1">@Localizer["Salva"] @Localizer["Modifiche"]</TelerikButton>

        </div>
    </div>
</div>

<div class="row-1 d-flex justify-content-between flex-wrap flex-md-nowrap pb-4 pt-4 pr-0 border-bottom barraFiltri mb-4">

    <div class="col-md-8 p-0 pl-0 pr-0 d-inline">
        <TelerikStepper Class="w-100 stepperEp" @bind-Value="@CurrentStepIndex" Linear="true">
            <StepperSteps>
                <StepperStep Label=@Localizer["DatiAnagrafici"] />
                <StepperStep Label=@Localizer["DatiCaldaia"] />
                <StepperStep Label=@Localizer["Intervento"] />
                <StepperStep Label=@Localizer["Lavorazioni"] />
            </StepperSteps>
        </TelerikStepper>
    </div>
    <div class="col-md-4 p-0 pl-0 pr-0 d-inline text-right">
        <TelerikButton Class="btn btn-primary-outline outline-icon-left btn-lg mx-1" OnClick=@PreviousStep><i class="bi bi-chevron-left icoBack"></i> @Localizer["Indietro"] </TelerikButton>
        <TelerikButton Class="btn btn-primary-outline outline-icon-right btn-lg mx-1" OnClick=@NextStep>@Localizer["Avanti"] <i class="bi bi-chevron-right icoForward"></i></TelerikButton>
    </div>

</div>

<div>
    <EditForm Model="Rapporto">
        <DataAnnotationsValidator />

        @if (CurrentStepIndex == 0)
        {
            <!--Dati Anagrafici-->
            <div class="form-field my-4 d-flex justify-content-start w-100">
                <span class="col-4">
                    <label>@Localizer["Nome"]</label>
                    <InputText Class="form-control form-control-lg w100 mb-3" @bind-Value="Rapporto.Cliente.Nome" />
                </span>
                <span class="col-4">
                    <label>@Localizer["Cognome"]</label>
                    <InputText Class="form-control form-control-lg w100" @bind-Value="Rapporto.Cliente.Cognome" />
                </span>
            </div>

            <div class="form-field my-4 d-flex justify-content-start w-100">
                <span class="col-4">
                    <label>@Localizer["Citta"]</label>
                    <InputText Class="form-control form-control-lg w100 mb-3" @bind-Value="Rapporto.Cliente.Citta" />
                </span>
                <span class="col-4">
                    <label>@Localizer["Via"]</label>
                    <InputText Class="form-control form-control-lg w100 mb-3" @bind-Value="Rapporto.Cliente.Via" />
                </span>
                <span class="ml-3">
                    <label>@Localizer["NumCivico"]</label>
                    <InputText Class="form-control form-control-lg w100 mb-3" @bind-Value="Rapporto.Cliente.NumCivico" />
                </span>
            </div>

            <div class="form-field my-4 d-flex justify-content-start w-100">
                <span class="col-4">
                    <label>@Localizer["NumTelefono"]</label>
                    <InputText Class="form-control form-control-lg w100 mb-3" @bind-Value="Rapporto.Cliente.NumTelefono" />
                </span>
                <span class="col-4">
                    <label>@Localizer["Email"]</label>
                    <InputText Class="form-control form-control-lg w100 mb-3" @bind-Value="Rapporto.Cliente.Email" />
                </span>
            </div>
        }
        else if (CurrentStepIndex == 1)
        {
            <!--Dati Caldaia-->
            <div class="form-field my-4 d-flex justify-content-start w-100">
                <span class="col-4">
                    <label>@Localizer["Matricola"]</label>
                    <InputText Class="form-control form-control-lg w100 mb-3" @bind-Value="Rapporto.Caldaia.Matricola" />
                </span>
                <span class="col-4">
                    <label>@Localizer["Modello"]</label>
                    @*<InputText Class="form-control form-control-lg w100 mb-3" @bind-Value="Rapporto.Caldaia.Modello" />*@
                    <label class="form-control form-control-lg w100 mb-3">@Modello</label>
                </span>
                <span class="col-4">
                    <label>@Localizer["Versione"]</label>
                    <InputText disabled="@(Modello==null)" Class="form-control form-control-lg w100 mb-3" @bind-Value="Rapporto.Caldaia.Versione" />
                </span>
            </div>

            <div class="form-field my-4 d-flex justify-content-start w-100">
                <span class="col-4">
                    <label>@Localizer["DataVendita"]</label>
                    <TelerikDatePicker Enabled="@(Modello!=null)" Class="w100 mb-3 datePickerEp" @bind-Value="Rapporto.Caldaia.DataVendita" />
                </span>
                <span class="col-4">
                    <label>@Localizer["DataMontaggio"]</label>
                    <TelerikDatePicker Enabled="@(Modello!=null)" Class="w100 mb-3 datePickerEp" @bind-Value="Rapporto.Caldaia.DataMontaggio" />
                </span>
                <span class="col-4">
                    <label>@Localizer["DataAvvio"]</label>
                    <TelerikDatePicker Enabled="@(Modello!=null)" Class="w100 mb-3 datePickerEp" @bind-Value="Rapporto.Caldaia.DataAvvio" />
                </span>
            </div>

            <div class="form-field my-4 d-flex justify-content-start w-100">
                <span class="col-4">
                    <label>@Localizer["TecnicoPrimaAccensione"]</label>
                    <InputText disabled="@(Modello==null)" Class="form-control form-control-lg w100 mb-3" @bind-Value="Rapporto.Caldaia.TecnicoPrimoAvvio" />
                </span>
                <span class="col-4">
                    <label>@Localizer["NumeroCertTecnico"]</label>
                    <InputNumber disabled="@(Modello==null)" Class="form-control form-control-lg w100 mb-3" @bind-Value="Rapporto.Caldaia.NumCertificatoTecnico" />
                </span>
                <span class="col-4">
                    <label>@Localizer["DittaPrimoAvvio"]</label>
                    <InputText disabled="@(Modello==null)" Class="form-control form-control-lg w100 mb-3" @bind-Value="Rapporto.Caldaia.DittaPrimoAvvio" />
                </span>
            </div>
        }
        else if (CurrentStepIndex == 2)
        {
            <!--Dati Intervento-->
            <div class="form-field my-4 d-flex justify-content-start w-100">
                <span class="col-4">
                    <label>@Localizer["DataIntervento"]</label>
                    <TelerikDatePicker Class="w100 mb-3 datePickerEp" @bind-Value="Rapporto.DataIntervento" />
                </span>
                <span class="col-8">
                    <label>@Localizer["MotivoIntervento"]</label>
                    <InputText Class="form-control form-control-lg w100 mb-3" @bind-Value="Rapporto.MotivoIntervento" />
                </span>
            </div>

            <div class="form-field my-4 d-flex justify-content-start w-100">
                <span class="col-4">
                    <label>@Localizer["TipologiaLavoro"]</label>
                    @*<InputText Class="form-control form-control-lg w100 mb-3" @bind-Value="Rapporto.TipoLavoro" />*@
                    <TelerikDropDownList Data="@LavorazioniDescription"
                                         Class="form-control form-control-lg w100 mb-3"
                                         @bind-Value="Rapporto.TipoLavoro"/>
                </span>
                <span class="col-4">
                    <label>@Localizer["NomeTecnico"]</label>
                    <InputText Class="form-control form-control-lg w100" @bind-Value="Rapporto.NomeTecnico" />
                </span>
            </div>

            <div class="form-field my-4 w-100 mt-160">
                <div cass="col-12">
                    <span class="col-8 headerFormRicambiEp">
                        <label class="d-inline labelQt text-center">N°</label>
                        <label class="d-inline labelCosto">@Localizer["Costo"]</label>
                        <label class="d-inline labelDescr">@Localizer["Descrizione"]</label>
                    </span>

                    <TelerikButton Class="btn btn-primary btn-lg mx-1" OnClick="NuovoRicambio">@Localizer["AddRicambio"]</TelerikButton><i class="bi bi-plus icoPlus"></i>
                </div>

                <div class="form-field my-4 w-100">
                    @foreach (RicambioDto Ricambio in Rapporto.Ricambi)
                    {
                        <div class="col-12 mt-3 mb-3">
                            <InputNumber Class="form-control inputQt d-inline mr-3" @bind-Value="Ricambio.Quantita" />
                            <InputNumber Class="form-control inputCosto d-inline mr-3" @bind-Value="Ricambio.Costo" />
                            <InputText Class="form-control inputDescr d-inline" @bind-Value="Ricambio.Descrizione" />
                            @*<a href="#" title="Elimina" class="icoDelete d-inline rosso text-center"><i class="bi bi-x-square"></i></a>*@
                            <TelerikButton OnClick="(() => Rapporto.Ricambi.Remove(Ricambio))" />
                        </div>
                    }
                </div>
            </div>
        }
        else if (CurrentStepIndex == 3)
        {
            @if (Rapporto.RapportiVociCosto != null)
            {
                <div class="row-3 d-flex justify-content-between flex-wrap flex-md-nowrap  pt-0 pb-4 mb-4">
                    <TelerikGrid Data="@Rapporto.RapportiVociCosto" Class="table table-striped">
                        <GridColumns>
                            <GridColumn Field=@nameof(RapportoVoceCostoDto.VoceCostoId) Width="10%" Title="#" />
                            <GridColumn Field=VociDiCosto.VoceCosto.NomeItaliano Width="30%" Title="@Localizer["VociCosto"].Value.ToUpper()" Visible="@(CurrentCulture == "it-IT")" />
                            <GridColumn Field=VoceCosto.NomeRusso Width="30%" Title="@Localizer["VociCosto"].Value.ToUpper()" Visible="@(CurrentCulture == "ru-RU")" />
                            <GridColumn Field=VoceCosto.Tipologia Width="10%" Title="@Localizer["Tipologia"].Value.ToUpper()" />
                            <GridColumn Field=Quantita Width="10%" Title="@Localizer["Quantita"].Value.ToUpper()" />

                            <GridCommandColumn Context="voce" Width="3%">
                                @{
                                    var voceCosto = voce as RapportoVoceCostoDto;
                                    <GridCommandButton Class=" btnIcon bgBianco white" Command="EditLavorazione" Icon="" ImageUrl="/img/Icons/edit.svg" OnClick="@(() => EditVoceCosto(voceCosto.VoceCosto.Id))" />
                                }
                            </GridCommandColumn>
                        </GridColumns>
                    </TelerikGrid>
                </div>
            }
        }
    </EditForm>
</div>

<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" Modal="true" @bind-Visible="ShowAddVoceCosto">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <div class="dialogForm"><AddRicambioDialog OnSave="AggiungiRicambio" OnClose="CloseAndRefresh" /></div>
    </WindowContent>
</TelerikWindow>

<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" Modal="true" @bind-Visible="ShowAddVoceCosto">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <div class="dialogForm"><AddRapportoVoceCostoDialog @bind-NewRapportoVoceCosto="NewRapportoVoceCosto" OnSave="AggiungiVoceCosto" OnClose="CloseAndRefresh" /></div>
    </WindowContent>
</TelerikWindow>
