@page "/difetti"
@inject DifettoClient httpClient
@inject FonditalAuthenticationState authState
@inject Microsoft.Extensions.Configuration.IConfiguration config

<h1><b>Anagrafiche</b> Difetti</h1>

@if (ListaDifetti == null)
{
    <p><em>Caricamento in corso...</em></p>
}
else
{
    <TelerikGrid Data=@ListaDifetti Pageable="true" PageSize="@PageSize">
        <GridToolBar>
            <span class="k-toolbar-spacer"></span> @* add this spacer to keep the searchbox on the right *@
            <GridSearchBox />
        </GridToolBar>
        <GridColumns>
            <GridColumn Field=@nameof(Difetto.Id) Title="#" />
            <GridColumn Field=@nameof(Difetto.NomeItaliano) Title="Descrizione" Visible="@(authState.CurrentLang == Lingua.ITA)" />
            <GridColumn Field=@nameof(Difetto.NomeRusso) Title="Descrizione" Visible="@(authState.CurrentLang == Lingua.RUS)" />
            <GridCommandColumn>
                <GridCommandButton Command="Edit" Icon="edit" />
            </GridCommandColumn>
            <GridCommandColumn Context="dif">
                @{
                        var difetto = dif as Difetto;
                    <TelerikSwitch OffLabel=" " OnLabel=" " OnChange="@(() => UpdateEnableDifetto(difetto.Id))" @bind-Value="@difetto.IsAbilitato"></TelerikSwitch>
                }
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
    @*var pageData = ListaDifetti.Skip((Page - 1) * PageSize).Take(PageSize).ToList();

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Descrizione</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var difetto in pageData)
                {
                    <tr>
                        <td>@difetto.Id</td>
                        <td>
                            @if (authState.CurrentLang == Lingua.IT)
                                {@difetto.NomeItaliano}
                            else //Lingua.RU
                                {@difetto.NomeRusso}
                        </td>
                        <td><button class="btn btn-link">Edit</button></td>
                        <td><TelerikSwitch OffLabel=" " OnLabel=" " OnChange="@(() => UpdateEnableDifetto(difetto.Id))" @bind-Value="@difetto.IsAbilitato"></TelerikSwitch></td>
                    </tr>
                }
            </tbody>
        </table>

        <TelerikPager Total="@ListaDifetti.Count" PageSize="@PageSize" @bind-Page="@Page"></TelerikPager>*@
}