@page "/defects"
@inject DifettoClient httpClient
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<App> localizer
@inject IConfiguration config
@attribute [Authorize]

<div style="display: flex;">
    <h1><b>@localizer["Anagrafiche"]</b> @localizer["Difetti"]</h1>
    <button class="d-block mr-0 ml-auto" @onclick="(() => ShowAddDialog = true)">@localizer["Nuovo"] @localizer["Difetto"]</button>
</div>

@if (ListaDifetti == null)
{
    <p><em>@localizer["Caricamento"]...</em></p>
}
else
{
    <TelerikGrid Data=@ListaDifetti Pageable="true" PageSize="@PageSize">
        <GridToolBar>
            <span class="k-toolbar-spacer"></span> @* add this spacer to keep the searchbox on the right *@
            <GridSearchBox />
        </GridToolBar>
        <GridColumns>
            <GridColumn Field=@nameof(Difetto.Id) Title="#" />
            <GridColumn Field=@nameof(Difetto.NomeItaliano) Title=@localizer["Descrizione"].Value.ToUpper() Visible="@(CurrentCulture == "it-IT")" />
            <GridColumn Field=@nameof(Difetto.NomeRusso) Title=@localizer["Descrizione"].Value.ToUpper() Visible="@(CurrentCulture == "ru-RU")" />
            <GridCommandColumn Context="dif">
                @{
                        var difetto = dif as Difetto;
                    <GridCommandButton Command="EditDifetto" Icon="edit" OnClick="@(() => EditDifetto(difetto.Id))" />
                }
            </GridCommandColumn>
            <GridCommandColumn Context="dif">
                @{
                        var difetto = dif as Difetto;
                    <TelerikSwitch OffLabel=" " OnLabel=" " OnChange="@(() => UpdateEnableDifetto(difetto.Id))" @bind-Value="@difetto.IsAbilitato"></TelerikSwitch>
                }
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
}

<TelerikWindow Modal="true" @bind-Visible="ShowAddDialog">
    <WindowTitle>
        <strong>@localizer["Aggiungi"] @localizer["Difetto"]</strong>
    </WindowTitle>
    <WindowContent>
        <AddDifettoDialog OnClose="@(() => ShowAddDialog = false)" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>

<TelerikWindow Modal="true" @bind-Visible="ShowEditDialog">
    <WindowTitle>
        <strong>@localizer["Modifica"] @localizer["Difetto"] # @DifettoSelected.Id</strong>
    </WindowTitle>
    <WindowContent>
        <EditDifettoDialog DifettoToUpdate="DifettoSelected" OnClose="@(() => ShowEditDialog = false)" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>