@page "/difetti"
@inject DifettoClient httpClient
@inject FonditalAuthenticationState authState
@inject Microsoft.Extensions.Configuration.IConfiguration config

<div style="display: flex;">
    <h1><b>Anagrafiche</b> Difetti</h1>
    <button class="d-block mr-0 ml-auto" @onclick="(() => ShowAddDialog = true)">Nuovo Difetto</button>
</div>

@if (ListaDifetti == null)
{
    <p><em>Caricamento in corso...</em></p>
}
else
{
    <TelerikGrid Data=@ListaDifetti Pageable="true" PageSize="@PageSize">
        <GridToolBar>
            <span class="k-toolbar-spacer"></span> @* add this spacer to keep the searchbox on the right *@
            <GridSearchBox />
        </GridToolBar>
        <GridColumns>
            <GridColumn Field=@nameof(Difetto.Id) Title="#" />
            <GridColumn Field=@nameof(Difetto.NomeItaliano) Title="Descrizione" Visible="@(authState.CurrentLang == Lingua.IT)" />
            <GridColumn Field=@nameof(Difetto.NomeRusso) Title="Descrizione" Visible="@(authState.CurrentLang == Lingua.RU)" />
            <GridCommandColumn Context="dif">
                @{
                        var difetto = dif as Difetto;
                    <GridCommandButton Command="EditDifetto" Icon="edit" OnClick="@(() => EditDifetto(difetto.Id))" />
                }
            </GridCommandColumn>
            <GridCommandColumn Context="dif">
                @{
                        var difetto = dif as Difetto;
                    <TelerikSwitch OffLabel=" " OnLabel=" " OnChange="@(() => UpdateEnableDifetto(difetto.Id))" @bind-Value="@difetto.IsAbilitato"></TelerikSwitch>
                }
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
}

<TelerikWindow Modal="true" @bind-Visible="ShowAddDialog">
    <WindowTitle>
        <strong>Aggiungi Difetto</strong>
    </WindowTitle>
    <WindowContent>
        <AddDifettoDialog OnClose="@(() => ShowAddDialog = false)" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>

<TelerikWindow Modal="true" @bind-Visible="ShowEditDialog">
    <WindowTitle>
        <strong>Modifica Difetto # @DifettoSelected.Id</strong>
    </WindowTitle>
    <WindowContent>
        <EditDifettoDialog DifettoToUpdate="DifettoSelected" OnClose="@(() => ShowEditDialog = false)" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>