@page "/defects"

@inject DifettoClient httpClient
@inject CurrentStateProvider StateProvider
@inject IStringLocalizer<App> localizer
@inject IConfiguration config
@attribute [Authorize]

<div class="row-1 d-flex justify-content-between flex-wrap flex-md-nowrap  pt-0">
    <!--TITOLO PAGINA-->
    <div class="col-md-5  text-left pb-4 border-bottom">
        <div class="col  text-left d-inline-block ">
            <div class="page-header">
                <h1 class="h1"><b>@localizer["Anagrafiche"]</b> @localizer["Difetti"]</h1>
            </div>
        </div>
    </div>
    <!--FINE TITLE PAGE-->
    <!--ROW BOTTONI-->
    <div class="col-md-7 pb-4 border-bottom pr-0">
        <div class="col  text-left d-none barraStrumenti "> </div>
        <div class="col  text-right d-inline-block float-lg-right p-0">
            <button class="btn btn-primary btn-verde btn-lg mx-1" @onclick="(() => ShowAddDialog = true)">@localizer["Nuovo"] @localizer["Difetto"]</button>
        </div>
    </div>
    <!--FINE BUTTON TOP DX-->
</div>
<!--FINE ROW 1 . TITOLI + BUTTON DX-->

@if (ListaDifetti == null)
{
    @*<p><em>@localizer["Caricamento"]...</em></p>*@
    <!--CARICO IL LOADER-->
    <div class="k-loader-container k-loader-container-md k-loader-top " style="" data-id="7d13dd9e-e016-4aec-8e1b-5253cd5131d5">
        <div class="k-loader-container-overlay k-overlay-light"></div>
        <div class="k-loader-container-inner ">
            <div class="k-loader k-loader-spinner-3 k-loader-lg k-loader-primary">
                <div class="k-loader-canvas">
                    <span class="k-loader-segment"></span>
                    <span class="k-loader-segment"></span>
                    <span class="k-loader-segment"></span>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row-2 d-inline w-100 mb-4  pt-0 pb-4 pt-4 border-bottom barraFiltri">
        <div class="form-group rowFiltri">
            @*<img src="../img/Icons/search.svg" class="bi bi-search float-lg-right icoSearch blu" />*@
            <i class="bi bi-search float-lg-right icoSearch blu"></i>
            <input class="form-control float-lg-right filtriInput mx-1" @bind-value="SearchText" @bind-value:event="oninput" placeholder=@localizer["CercaDifetti"] />
        </div>
    </div><!--FINE BARRA FILTRI-->
    <div class="row-3 d-flex justify-content-between flex-wrap flex-md-nowrap  pt-0 pb-4 mb-4">
        <TelerikGrid Data=@ListaDifettiFiltered Pageable="true" PageSize="@PageSize" Sortable="true" Class="table table-striped">
            <!--<GridToolBar>
            <span class="k-toolbar-spacer"></span>-->
            @* add this spacer to keep the searchbox on the right *@
            <!--<GridSearchBox />
            </GridToolBar>-->
            <GridColumns>
                <GridColumn Field=@nameof(DifettoDto.Id) Title="#" Width="10%" />
                <GridColumn Field=@nameof(DifettoDto.NomeItaliano) Width="70%" Title=@localizer["Descrizione"].Value.ToUpper() Visible="@(CurrentCulture == "it-IT")" />
                <GridColumn Field=@nameof(DifettoDto.NomeRusso) Width="70%" Title=@localizer["Descrizione"].Value.ToUpper() Visible="@(CurrentCulture == "ru-RU")" />
                <GridCommandColumn Context="dif" Width="3%">
                    @{
                        var difettoDto = dif as DifettoDto;
                        <GridCommandButton Class=" btnIcon bgBianco white" Command="EditDifetto" Icon="" ImageUrl="/img/Icons/edit.svg" OnClick="@(() => EditDifetto(difettoDto.Id))" />
                    }
                </GridCommandColumn>
                <GridCommandColumn Context="dif" Width="3%">
                    @{
                        var difetto = dif as DifettoDto;
                                       <TelerikSwitch Class="switch_white" OffLabel=" " OnLabel=" " OnChange="@(() => UpdateEnableDifetto(difetto.Id))" @bind-Value="@difetto.IsAbilitato"></TelerikSwitch>
                    }
                </GridCommandColumn>
            </GridColumns>
        </TelerikGrid>
    </div>
}

<!--DIALOGS-->
<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" Modal="true" @bind-Visible="ShowAddDialog">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <div class="dialogForm"> <AddDifettoDialog OnClose="CloseAndRefresh" OnSave="CloseAndRefresh" /></div>
    </WindowContent>
</TelerikWindow>

<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" Modal="true" @bind-Visible="ShowEditDialog">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <div class="dialogForm"> <EditDifettoDialog DifettoToUpdate="DifettoSelected" OnClose="CloseAndRefresh" OnSave="CloseAndRefresh" /></div>
    </WindowContent>
</TelerikWindow>