@page  "/servicePartners"
@attribute [Authorize]

@using Fondital.Shared.Models
@inject ServicePartnerClient servicePartnerClient
@inject IStringLocalizer<App> localizer
@inject NavigationManager navManager

<div class="row-1 d-flex justify-content-between flex-wrap flex-md-nowrap  pt-0">
    <!--TITOLO PAGINA-->
    <div class="col-md-5  text-left pb-4 border-bottom">
        <div class="col  text-left d-inline-block ">
            <div class="page-header">
                <h1 class="h1"><b>Anagrafiche</b> Service Partner</h1>
            </div>
        </div>
    </div>
    <!--FINE TITLE PAGE-->
    <!--ROW BOTTONI-->
    <div class="col-md-7 pb-4 border-bottom pr-0">

        <div class="col  text-left d-none barraStrumenti "> </div>
        <div class="col  text-right d-inline-block float-lg-right p-0">
            <TelerikButton Class="btn btn-primary btn-verde btn-lg mx-1" OnClick=@(()=> ShowAddDialog = true)>@localizer["InserisciAnagrafica"]</TelerikButton>
        </div>
    </div>
    <!--FINE BUTTON TOP DX-->
</div>
<!--FINE ROW 1 . TITOLI + BUTTON DX-->


<div class="row-2 d-inline w-100 mb-4 pt-0 pb-4 pt-4 border-bottom barraFiltri">
    <div class="form-group rowFiltri">

        @*<img src="../img/Icons/search.svg" class="bi bi-search float-lg-right icoSearch blu" />*@
        <i class="bi bi-search float-lg-right icoSearch blu"></i>
        <input class="form-control float-lg-right filtriInput mx-1" @bind-value="SearchText" @bind-value:event="oninput" placeholder=@localizer["CercaSP"] />
    </div>
</div>

<!--FINE BARRA FILTRI-->
@*Modale per l'Edervice partner
    <TelerikWindow Class="modal-app dialogBox" Width="600px" Height="auto" Centered="true" @bind-Visible="myEditTemplate" Modal="true">
        <WindowActions>
            <WindowAction Name="Close" />
        </WindowActions>
        <WindowContent>
            @if (ValidSubmit)
            {
                <div class="demo-alert demo-alert-success alert" role="alert">
                    The form was submitted successfully.
                </div>
            }
            else
            {
                <TelerikForm Model="@ServicePartnerModel_UpdateSP" OnSubmit="@EditSP_UpdateHandler" EditContext="myEditContext_UpdateSP" Class="dialogForm">
                    <FormValidation>
                        <DataAnnotationsValidator />
                    </FormValidation>
                    <FormItems>
                        <FormItem Class="form-group" Field="@nameof(ServicePartner.RagioneSociale)"></FormItem>
                        <FormItem Class="form-group" Field="@nameof(ServicePartner.CodiceFornitore)"></FormItem>
                        <FormItem Class="form-group" Field="@nameof(ServicePartner.CodiceCliente)"></FormItem>
                    </FormItems>
                    <FormButtons>-->
                        <TelerikButton Class="btn btn-secondary mr-auto" @onclick="() => myEditTemplate = false" ButtonType="@ButtonType.Button">@localizer["Cancella"]</TelerikButton>
                        <!--<TelerikButton Class="btn btn-success ml-auto" ButtonType="@ButtonType.Submit">@localizer["Modifica"]</TelerikButton>
                    </FormButtons>
                </TelerikForm>
            }
        </WindowContent>
    </TelerikWindow>
*@


@*Modale per l'aggiunta dell'anagrafica
    <TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" @bind-Visible=@WindowVisible Modal="true">
        <WindowActions>
            <WindowAction Name="Close" />
        </WindowActions>
        <WindowContent>
            <div class="demo-section">
                @if (ValidSubmit)
                {
                    <div class="demo-alert demo-alert-success alert" role="alert">
                        The form was submitted successfully.
                    </div>
                }
                else
                {
                    <TelerikForm Model="@ServicePartnerModel" OnSubmit="OnSubmitHandlerAsync" EditContext="myEditContext" Class="dialogForm">
                        <FormValidation>
                            <DataAnnotationsValidator />
                        </FormValidation>
                        <FormItems>
                            <FormItem Class="form-group" Field="@nameof(ServicePartner.RagioneSociale)"></FormItem>
                            <FormItem Class="form-group" Field="@nameof(ServicePartner.CodiceFornitore)"></FormItem>
                            <FormItem Class="form-group" Field="@nameof(ServicePartner.CodiceCliente)"></FormItem>
                        </FormItems>
                        <FormButtons>
                            <TelerikButton Class="btn btn-secondary mr-auto" @onclick="() => WindowVisible = false" ButtonType="@ButtonType.Button">@localizer["Cancella"]</TelerikButton>
                            <TelerikButton Class="btn btn-success ml-auto" ButtonType="@ButtonType.Submit">@localizer["Salva"]</TelerikButton>
                        </FormButtons>
                    </TelerikForm>
                }
            </div>
        </WindowContent>
    </TelerikWindow>
*@


<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" @bind-Visible=@ShowAddDialog Modal="true">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <AddSPDialog OnClose="@(() => ShowAddDialog = false)" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>

<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" @bind-Visible=@ShowEditDialog Modal="true">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>
    <WindowContent>
        <EditSPDialog SPToUpdate="SpSelected" OnClose="@(() => ShowEditDialog = false)" OnSave="CloseAndRefresh" />
    </WindowContent>
</TelerikWindow>



@*OnEdit="@EditHandler"//*@
<div class="row-3 d-flex justify-content-between flex-wrap flex-md-nowrap  pt-0 pb-4 mb-4">

    <TelerikGrid Data="@ServicePartners_filtered" EditMode="@GridEditMode.Popup" Pageable="true"
                 Class="table table-striped" OnUpdate="@UpdateHandler" Resizable="true" Sortable="true">
        <GridColumns>
            <GridColumn Field=@nameof(ServicePartnerDto.CodiceFornitore) Title=@localizer["CodiceFornitore"].Value.ToUpper() />
            <GridColumn Field=@nameof(ServicePartnerDto.RagioneSociale) Title=@localizer["RagioneSociale"].Value.ToUpper() />
            <GridColumn Field=@nameof(ServicePartnerDto.CodiceCliente) Title=@localizer["CodiceUtente"].Value.ToUpper() />
            <GridColumn Field="N° UTENTI" Title="N° UTENTI" Id="utenti">
                <Template>
                    @{
                        ServicePartnerDto sp = (ServicePartnerDto)context;
                    <i class="bi bi-people-fill float-lg-left icoClienti blu gj-cursor-pointer" @onclick="@(() => navManager.NavigateTo($"/detailservicepartner/{sp.Id}"))"></i>

                    <b>@(sp.Utenti.Count())</b>
                    }
                </Template>
            </GridColumn>
            <GridCommandColumn Width="80px" Context="sp">
                @{
                    var servicePartner = sp as ServicePartnerDto;
                <GridCommandButton Class="settingCol btnIcon bgBluOn white" Command="MyOwnCommand" Icon="" ShowInEdit="false" ImageUrl="/img/Icons/gear-fill.svg" OnClick="@(() => EditSp(servicePartner.Id))"></GridCommandButton>
                    }
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
</div>