@page  "/servicePartners"
@attribute [Authorize]

@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager
@using Fondital.Shared.Models
@inject ServicePartnerClient servicePartnerClient
@inherits ListServicePartnerBase

@*<div class="cont">
    <div class="cont-child">
        <div class="tit-pg">
            <h1><strong>Anagrafiche</strong> Service Partner</h1>
        </div>
        <div class="btn-ad">
            <TelerikButton Class="btn-add" OnClick=@(()=> WindowVisible = true)>Inserisci Anagrafica</TelerikButton>
        </div>
    </div>
    <hr class="hr" />
    <div class="cerc-sp">
        <input class="border-rod" @bind-value="SearchText" @bind-value:event="oninput" placeholder="Cerca SP ..." />
    </div>
</div>*@




<div class="row-1 d-flex justify-content-between flex-wrap flex-md-nowrap  pt-0 mb-64">
    <!--TITOLO PAGINA-->
    <div class="col-md-5  text-left pb-4 border-bottom">
        <div class="col  text-left d-inline-block ">
            <div class="page-header">
                <h1 class="h1"><b>Anagrafiche</b> Service Partner</h1>
            </div>
        </div>
    </div>
    <!--FINE TITLE PAGE-->
    <!--ROW BOTTONI-->
    <div class="col-md-7 pb-4 border-bottom">

        <div class="col  text-left d-none barraStrumenti "> </div>
        <div class="col  text-right d-inline-block float-lg-right">
            <TelerikButton Class="btn btn-primary btn-verde btn-lg mx-1" OnClick=@(()=> WindowVisible = true)>Inserisci Anagrafica</TelerikButton>
        </div>
    </div>
    <!--FINE BUTTON TOP DX-->
</div>
<!--FINE ROW 1 . TITOLI + BUTTON DX-->


<div class="row-2 row  pt-0 pb-4 mb-4 border-bottom">


    <div class="form-group">
        <i class="bi bi-search float-lg-right icoSearch blu"></i>

        <input class="form-control float-lg-right filtriInput mx-1" @bind-value="SearchText" @bind-value:event="oninput" placeholder="Cerca SP ..." />

    </div> <!--FINE BARRA FILTRI-->

</div>




@*Modale per l'aggiunta dell'anagrafica*@
<TelerikWindow Class="modal-app" Width="500px" Height="300px" Centered="true" @bind-Visible=@WindowVisible Modal="true">

    <WindowActions>
        <WindowAction Name="Close" />
    </WindowActions>
    <WindowContent>
        <div class="demo-section">
            @if (ValidSubmit)
            {
                <div class="demo-alert demo-alert-success" role="alert">
                    The form was submitted successfully.
                </div>
            }
            else
            {
                <TelerikForm Model="@ServicePartnerModel" OnSubmit="OnSubmitHandlerAsync" EditContext="myEditContext">
                    <FormValidation>
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                    </FormValidation>
                    <FormItems>
                        <FormItem Field="@nameof(ServicePartner.RagioneSociale)"></FormItem>
                        <FormItem Field="@nameof(ServicePartner.CodiceFornitore)"></FormItem>
                        <FormItem Field="@nameof(ServicePartner.CodiceCliente)"></FormItem>
                    </FormItems>
                    @*<FormButtons>
                            <TelerikButton  ButtonType="@ButtonType.Submit" Primary="true">SALVA</TelerikButton>
                        </FormButtons>*@
                </TelerikForm>

            }
        </div>
    </WindowContent>
</TelerikWindow>


@*OnEdit="@EditHandler"//*@
<div class="row-3 d-flex justify-content-between flex-wrap flex-md-nowrap  pt-0 pb-4 mb-4">
    <TelerikGrid Data="@ServicePartners_filtered" EditMode="@GridEditMode.Popup" Pageable="true" Height="500px" Class="table table-striped"
                 OnUpdate="@UpdateHandler" OnDelete="@DeleteHandler" OnCreate="@CreateHandler" OnCancel="@CancelHandler" Resizable="true" Sortable="true">
        <GridColumns>
            <GridColumn Field=@nameof(ServicePartner.CodiceFornitore) Title="CODICE FORNITORE" />
            <GridColumn Field=@nameof(ServicePartner.RagioneSociale) Title="RAGIONE SOCIALE" />
            <GridColumn Field=@nameof(ServicePartner.CodiceCliente) Title="CODICE UTENTE" />
            <GridColumn Field="N° UTENTI" Title="N° UTENTI">
                <Template>
                    @((context as ServicePartner).Utenti.Count())
                </Template>
            </GridColumn>
            <GridCommandColumn Width="75px">
                <GridCommandButton Class="bt-cmd" Command="MyOwnCommand" Icon="" ShowInEdit="false" ImageUrl="/img/Icons/setting.svg" OnClick="@EditHandler"></GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
</div>


<style>
    .myClasse {
        color: aliceblue;
        background-color: forestgreen
    }

    .cont {
        height: 115px
    }

    .cont-child {
        display: flex;
        flex-direction: row;
        height: 40px;
    }

    .editColor {
        color: aliceblue;
        background-color: dodgerblue
    }

    .btn-add {
        float: right;
        color: aliceblue;
        background-color: forestgreen;
        width: 180px
    }

    .btn-ad {
        position: absolute;
        right: 25px;
    }

    .tit-pg {
        display: inline-block;
    }

    .modal-app {
        width: 350px;
    }

    div.k-widget.k-window.modal-app {
        width: 250px;
        height: 600px;
        border: 1px solid white
    }

    .modal-app .k-dialog-titlebar.k-header.k-window-titlebar {
        background: white;
        height: 10px;
        border: none;
        color: black
    }

    .modal-app .k-window-content.k-content.k-dialog-content {
    }

    .modal-app .k-button.telerik-blazor.k-primary.k-form-submit {
        border: 2px solid dodgerblue;
        color: aliceblue;
        background-color: dodgerblue;
        width: 700px;
    }

    .cas-ric {
        height: auto
    }

    .cerc-sp {
        position: absolute;
        right: 25px;
    }
</style>