@page "/reports"
@inject IStringLocalizer<App> Localizer
@*@inject IJSInProcessRuntime JSRuntime*@
@inject IConfiguration Config
@inject RapportoClient HttpClient
@inject NavigationManager NavigationManager

<div class="row-1 d-flex justify-content-between flex-wrap flex-md-nowrap  pt-0">
    <!--TITOLO PAGINA-->
    <div class="col-md-5  text-left pb-4 border-bottom">
        <div class="col  text-left d-inline-block ">
            <div class="page-header">
                <h1 class="h1"><b>@Localizer["Gestione"]</b> @Localizer["Rapporti"]</h1>
            </div>
        </div>
    </div>
    <!--FINE TITLE PAGE-->
</div>
<!--FINE ROW 1 . TITOLI-->

@if (ListaRapporti != null)
{
    <div class="k-loader-container k-loader-container-md k-loader-top " style="" data-id="7d13dd9e-e016-4aec-8e1b-5253cd5131d5">
        <div class="k-loader-container-overlay k-overlay-light"></div>
        <div class="k-loader-container-inner ">
            <div class="k-loader k-loader-spinner-3 k-loader-lg k-loader-primary">
                <div class="k-loader-canvas">
                    <span class="k-loader-segment"></span>
                    <span class="k-loader-segment"></span>
                    <span class="k-loader-segment"></span>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <!--BARRA FILTRI-->
    <div class="row-2 d-inline w-100 mb-4  pt-0 pb-4 pt-4 border-bottom barraFiltri">
        <div class="form-group rowFiltri">
            @*<img src="../img/Icons/search.svg" class="bi bi-search float-lg-right icoSearch blu" />*@
            <i class="bi bi-search float-lg-right icoSearch blu"></i>
            <input class="form-control float-lg-right filtriInput mx-1" @bind-value="SearchByEmail" @bind-value:event="oninput" placeholder=@Localizer["Email"] />
            <input class="form-control float-lg-right filtriInput mx-1" @bind-value="SearchByTelefono" @bind-value:event="oninput" placeholder=@Localizer["Telefono"] />
            <input class="form-control float-lg-right filtriInput mx-1" @bind-value="SearchByMatricola" @bind-value:event="oninput" placeholder=@Localizer["Matricola"] />
            <input class="form-control float-lg-right filtriInput mx-1" @bind-value="SearchById" @bind-value:event="oninput" placeholder=@Localizer["NumRapporto"] />
            <input class="form-control float-lg-right filtriInput mx-1" @bind-value="SearchByCliente" @bind-value:event="oninput" placeholder=@Localizer["Cliente"] />
            <input class="form-control float-lg-right filtriInput mx-1" @bind-value="SearchText" @bind-value:event="oninput" placeholder=@Localizer["DataDaA"] />
            <input class="form-control float-lg-right filtriInput mx-1" @bind-value="SearchByStato" @bind-value:event="oninput" placeholder=@Localizer["Stato"] />
            <input class="form-control float-lg-right filtriInput mx-1" @bind-value="SearchBySp" @bind-value:event="oninput" placeholder=@Localizer["ServicePartner"] />
        </div>
    </div>
    <!--FINE BARRA FILTRI-->

    <div class="row-3 d-flex justify-content-between flex-wrap flex-md-nowrap pt-0 pb-4 mb-4">
        <TelerikGrid Data="@ListaRapporti_filtered" Pageable="true" PageSize="@PageSize" Class="table table-striped">
            <GridColumns>
                <GridColumn Field=@nameof(RapportoDto.ServicePartner.RagioneSociale) Width="15%" Title=@Localizer["ServicePartner"].Value.ToUpper() />
                <GridColumn Field=@nameof(RapportoDto.Stato) Width="15%" Title=@Localizer["Stato"].Value.ToUpper() />
                <GridColumn Field=@nameof(RapportoDto.Data) Width="15%" Title=@Localizer["Data"].Value.ToUpper() />
                <GridColumn Field=@nameof(RapportoDto.Cliente) Width="15%" Title=@Localizer["Cliente"].Value.ToUpper() />
                <GridColumn Field=@nameof(RapportoDto.Id) Width="10%" Title=@Localizer["NumRapporto"].Value.ToUpper() />
                <GridColumn Field=@nameof(RapportoDto.Matricola) Width="15%" Title=@Localizer["Matricola"].Value.ToUpper() />
                <GridColumn Field=@nameof(RapportoDto.Telefono) Width="15%" Title=@Localizer["Telefono"].Value.ToUpper() />
                <GridColumn Field=@nameof(RapportoDto.Email) Width="15%" Title=@Localizer["Email"].Value.ToUpper() />

                <GridCommandColumn Context="rep" Width="3%">
                    @{ 
                        var rapportoDto = rep as RapportoDto;
                        // Modify Icon Url
                        <GridCommandButton Class="btnIcon bgBianco white" Command="ViewRapporto" ImageUrl="/img/Icons/edit.svg" OnClick="@(() => ViewRapporto(rapportoDto.Id) )" />
                    }
                </GridCommandColumn>
            </GridColumns>
        </TelerikGrid>
    </div>
}
