@page  "/listservicepartner"
@*@attribute [Authorize]*@

@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager
@using Fondital.Shared.Models
@inject ServicePartnerClient servicePartnerClient
@inherits ListServicePartnerBase

<div class="cont">
    <div class="cont-child">
        <div class="tit-pg">
            <h1><strong>Anagrafiche</strong> Service Partner</h1>
        </div>
        <div class="btn-ad">
            <TelerikButton Class="btn-add" OnClick=@(()=> WindowVisible = true)>Inserisci Anagrafica</TelerikButton>
        </div>
    </div>
    <hr class="hr"/>
    <div class="cerc-sp">
        <input class="border-rod" @bind-value="SearchText" @bind-value:event="oninput" placeholder="Cerca SP ..." />
    </div>
</div>

@*Modale per l'Edervice partner*@
<TelerikWindow Class="modal-app" Width="400px" Height="300px" Centered="true" @bind-Visible="myEditTemplate" Modal="true">
    <WindowActions>
        <WindowAction Name="Close" />
    </WindowActions>
    <WindowContent>
        @if (ValidSubmit)
        {
            <div class="demo-alert demo-alert-success" role="alert">
                The form was submitted successfully.
            </div>
        }
        else
        {
            <TelerikForm Model="@ServicePartnerModel_UpdateSP" OnSubmit="@EditSP_UpdateHandler" EditContext="myEditContext_UpdateSP">
                <FormValidation>
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                </FormValidation>
                <FormItems>
                    <FormItem Field="@nameof(ServicePartner.RagioneSociale)" ></FormItem>
                    <FormItem Field="@nameof(ServicePartner.CodiceFornitore)"></FormItem>
                    <FormItem Field="@nameof(ServicePartner.CodiceCliente)"></FormItem>
                </FormItems>
            </TelerikForm>
        }
    </WindowContent>
</TelerikWindow>


@*Modale per l'aggiunta dell'anagrafica*@
<TelerikWindow Class="modal-app" Width="500px" Height="300px" Centered="true" @bind-Visible=@WindowVisible Modal="true">

    <WindowActions>
        <WindowAction Name="Close" />
    </WindowActions>
    <WindowContent>
        <div class="demo-section">
            @if (ValidSubmit)
            {
                <div class="demo-alert demo-alert-success" role="alert">
                    The form was submitted successfully.
                </div>
            }
            else
            {
                <TelerikForm Model="@ServicePartnerModel" OnSubmit="OnSubmitHandlerAsync" EditContext="myEditContext">
                    <FormValidation>
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                    </FormValidation>
                    <FormItems>
                        <FormItem Field="@nameof(ServicePartner.RagioneSociale)"></FormItem>
                        <FormItem Field="@nameof(ServicePartner.CodiceFornitore)"></FormItem>
                        <FormItem Field="@nameof(ServicePartner.CodiceCliente)"></FormItem>
                    </FormItems>
                    @*<FormButtons>
                            <TelerikButton  ButtonType="@ButtonType.Submit" Primary="true">SALVA</TelerikButton>
                        </FormButtons>*@
                </TelerikForm>

            }
        </div>
    </WindowContent>
</TelerikWindow>


@*OnEdit="@EditHandler"//*@
<TelerikGrid  Data="@ServicePartners_filtered" EditMode="@GridEditMode.Popup" Pageable="true" Height="500px"
             OnUpdate="@UpdateHandler" OnDelete="@DeleteHandler" OnCreate="@CreateHandler" OnCancel="@CancelHandler" Resizable="true" Sortable="true" >
   <GridColumns>
        <GridColumn Field=@nameof(ServicePartner.CodiceFornitore) Title="CODICE FORNITORE" />
        <GridColumn Field=@nameof(ServicePartner.RagioneSociale) Title="RAGIONE SOCIALE" />
        <GridColumn Field=@nameof(ServicePartner.CodiceCliente) Title="CODICE UTENTE" />
        <GridColumn Field="N° UTENTI" Title="N° UTENTI">
            <Template>
                @((context as ServicePartner).Utenti.Count())
            </Template>
        </GridColumn>
        <GridCommandColumn Width="75px">
            <GridCommandButton Class="bt-cmd" Command="MyOwnCommand" Icon="" ShowInEdit="false" ImageUrl="/img/Icons/setting.svg" OnClick="@EditHandler"></GridCommandButton>
        </GridCommandColumn>    
        @*<GridCommandColumn Width="100px">
            <GridCommandButton Command="Save" Icon="save" ShowInEdit="true">Update</GridCommandButton>
            <GridCommandButton Class="editColor" Command="Edit" Icon="edit" ImageUrl="/img/Icons/setting.svg"></GridCommandButton>
            <GridCommandButton Command="Cancel" Icon="cancel" ShowInEdit="true">Cancel</GridCommandButton>
        </GridCommandColumn>*@
    </GridColumns>
</TelerikGrid>



<style>
    .myClasse {
        color: aliceblue;
        background-color: forestgreen
    }

    .cont {
        height:115px
    }
    .cont-child{
        display:flex;
        flex-direction:row;
        height:40px;
    }
    .editColor {
        color: aliceblue;
        background-color: dodgerblue
    }

    .btn-add {
        float: right;
        color: aliceblue;
        background-color: forestgreen;
        width: 180px
    }

    .btn-ad {
        position: absolute;
        right: 25px;
    }

    .tit-pg {
        display: inline-block;
    }

    .modal-app {
        width: 350px;
    }

    div.k-widget.k-window.modal-app {
        width: 250px;
        height: 600px;
        border: 1px solid white
    }

    .modal-app .k-dialog-titlebar.k-header.k-window-titlebar {
        background: white;
        height: 10px;
        border: none;
        color: black
    }

    .modal-app .k-window-content.k-content.k-dialog-content {
    }

    .modal-app .k-button.telerik-blazor.k-primary.k-form-submit {
        border: 2px solid dodgerblue;
        color: aliceblue;
        background-color: dodgerblue;
        width: 700px;
    }

    .cas-ric {
        height: auto
    }
    .cerc-sp{
        position:absolute;
        right:25px;
     }
</style>