@page  "/servicePartners"
@attribute [Authorize]

@using Fondital.Shared.Models
@inject ServicePartnerClient servicePartnerClient
@inject IStringLocalizer<App> localizer
@inject NavigationManager navManager

<div class="row-1 d-flex justify-content-between flex-wrap flex-md-nowrap  pt-0">
    <!--TITOLO PAGINA-->
    <div class="col-md-5  text-left pb-4 border-bottom">
        <div class="col  text-left d-inline-block ">
            <div class="page-header">
                <h1 class="h1"><b>Anagrafiche</b> Service Partner</h1>
            </div>
        </div>
    </div>
    <!--FINE TITLE PAGE-->
    <!--ROW BOTTONI-->
    <div class="col-md-7 pb-4 border-bottom pr-0">

        <div class="col  text-left d-none barraStrumenti "> </div>
        <div class="col  text-right d-inline-block float-lg-right p-0">
            <TelerikButton Class="btn btn-primary btn-verde btn-lg mx-1" OnClick=@(()=> ShowAddDialog = true)>@localizer["InserisciAnagrafica"]</TelerikButton>
        </div>
    </div>
    <!--FINE BUTTON TOP DX-->
</div>
<!--FINE ROW 1 . TITOLI + BUTTON DX-->


@if (ServicePartners == null)
{
    @*<p><em>@localizer["Caricamento"]</em></p>*@
    <!--CARICO IL LOADER-->

    <div class="k-loader-container k-loader-container-md k-loader-top " style="" data-id="7d13dd9e-e016-4aec-8e1b-5253cd5131d5">
        <div class="k-loader-container-overlay k-overlay-light"></div>
        <div class="k-loader-container-inner ">
            <div class="k-loader k-loader-spinner-3 k-loader-lg k-loader-primary">
                <div class="k-loader-canvas">
                    <span class="k-loader-segment"></span>
                    <span class="k-loader-segment"></span>
                    <span class="k-loader-segment"></span>
                </div>
            </div>
        </div>
    </div>
}
else
{

    <!-- BARRA FILTRI-->
    <div class="row-2 d-inline w-100 mb-4 pt-0 pb-4 pt-4 border-bottom barraFiltri">
        <div class="form-group rowFiltri">

            @*<img src="../img/Icons/search.svg" class="bi bi-search float-lg-right icoSearch blu" />*@
            <i class="bi bi-search float-lg-right icoSearch blu"></i>
            <input class="form-control float-lg-right filtriInput mx-1" @bind-value="SearchText" @bind-value:event="oninput" placeholder=@localizer["CercaSP"] />
        </div>
    </div>
    <!--FINE BARRA FILTRI-->

    <!--LISTA-->
    <div class="row-3 d-flex justify-content-between flex-wrap flex-md-nowrap  pt-0 pb-4 mb-4">

        <TelerikGrid Data="@ServicePartners_filtered" EditMode="@GridEditMode.Popup" Pageable="true"
                     Class="table table-striped" OnUpdate="@UpdateHandler" Resizable="true" Sortable="true">
            <GridColumns>
                <GridColumn Field=@nameof(ServicePartnerDto.CodiceFornitore) Title=@localizer["CodiceFornitore"].Value.ToUpper() />
                <GridColumn Field=@nameof(ServicePartnerDto.RagioneSociale) Title=@localizer["RagioneSociale"].Value.ToUpper() />
                <GridColumn Field=@nameof(ServicePartnerDto.CodiceCliente) Title=@localizer["CodiceUtente"].Value.ToUpper() />
                <GridColumn Field="N° UTENTI" Title="N° UTENTI" Id="utenti">
                    <Template>
                        @{
                            ServicePartnerDto sp = (ServicePartnerDto)context;
                            <i class="bi bi-people-fill float-lg-left icoClienti blu" @onclick="@(() => navManager.NavigateTo($"/detailservicepartner/{sp.Id}"))"></i>
                            <b>@(sp.Utenti.Count())</b>
                        }
                    </Template>
                </GridColumn>
                <GridCommandColumn Width="80px" Context="sp">
                    @{
                        var servicePartner = sp as ServicePartnerDto;
                        <GridCommandButton Class="settingCol btnIcon bgBluOn white" Command="MyOwnCommand" Icon="" ShowInEdit="false" ImageUrl="/img/Icons/gear-fill.svg" OnClick="@(() => EditSp(servicePartner.Id))"></GridCommandButton>
                    }
                </GridCommandColumn>
            </GridColumns>
        </TelerikGrid>
    </div>
}

<!--DIALOGS-->

<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" @bind-Visible=@ShowAddDialog Modal="true">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>

    <WindowContent>
        <div class="dialogForm"><AddSPDialog OnClose="@(() => ShowAddDialog = false)" OnSave="CloseAndRefresh" /></div>
    </WindowContent>

</TelerikWindow>

<TelerikWindow Class="modal-app dialogBox" Width="500px" Height="auto" Centered="true" @bind-Visible=@ShowEditDialog Modal="true">
    <WindowActions>
        <WindowAction Name="Close" IconClass="k-icon k-i-close text-dark" />
    </WindowActions>

    <WindowContent>
        <div class="dialogForm"><EditSPDialog SPToUpdate="SpSelected" OnClose="@(() => ShowEditDialog = false)" OnSave="CloseAndRefresh" /> </div>
    </WindowContent>

</TelerikWindow>