@page  "/servicePartners"
@attribute [Authorize]

@using Fondital.Shared.Models
@inject ServicePartnerClient servicePartnerClient
@inherits ListServicePartnerBase
@inject IStringLocalizer<App> localizer
@inject NavigationManager NavigationManager

<div class="cont">
    <div class="cont-child">
        <div class="tit-pg">
            <h1><strong>@localizer["Anagrafiche"]</strong> @localizer["Service Partner"]</h1>
        </div>
        <div class="btn-ad">
            <TelerikButton Class="btn-add" OnClick=@(()=> WindowVisible = true)>@localizer["Inserisci Anagrafica"]</TelerikButton>
        </div>
    </div>
    <hr class="hr" />
    <div class="cerc-sp">
        <input class="border-rod" @bind-value="SearchText" @bind-value:event="oninput" placeholder=@localizer["Cerca SP"] />
    </div>
</div>

@*Modale per l'Edit Service partner*@
<TelerikWindow Class="modal-app" Width="365px" Height="330px" Centered="true" @bind-Visible="myEditTemplate" Modal="true">
    <WindowTitle>
        <strong>@localizer["Modifica"] @localizer["Anagrafica"]</strong>
    </WindowTitle>
    <WindowContent>
        @if (ValidSubmit)
        {
        <div class="" role="alert">
            @localizer["Caricamento"]...
        </div>
        }
        else
        {
            <TelerikForm Model="@ServicePartnerModel_UpdateSP" OnSubmit="@EditSP_UpdateHandler" EditContext="myEditContext_UpdateSP">
                <FormValidation>
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                </FormValidation>
                <FormItems>
                    <FormItem Field="@nameof(ServicePartner.RagioneSociale)"></FormItem>
                    <FormItem Field="@nameof(ServicePartner.CodiceFornitore)"></FormItem>
                    <FormItem Field="@nameof(ServicePartner.CodiceCliente)"></FormItem>
                </FormItems>
                <FormButtons>
                    <TelerikButton Class="btn btn-secondary mr-auto" @onclick="() => myEditTemplate = false" ButtonType="@ButtonType.Button">@localizer["Cancella"]</TelerikButton>
                    <TelerikButton Class="btn btn-success ml-auto" ButtonType="@ButtonType.Submit">@localizer["Modifica"]</TelerikButton>
                </FormButtons>
            </TelerikForm>
        }
    </WindowContent>
</TelerikWindow>


@*Modale per l'aggiunta dell'anagrafica*@
<TelerikWindow Class="modal-app" Width="350px" Height="330px" Centered="true" @bind-Visible=@WindowVisible Modal="true">
    <WindowTitle>
        <strong>@localizer["Aggiungi"] @localizer["Anagrafica"]</strong>
    </WindowTitle>
    <WindowContent>
        <div class="demo-section">
            @if (ValidSubmit)
            {
            <div class="" role="alert">
                @localizer["Caricamento"]...
            </div>
            }
            else
            {
                <TelerikForm Model="@ServicePartnerModel" OnSubmit="OnSubmitHandlerAsync" EditContext="myEditContext" ValidationMessageType="@FormValidationMessageType.Inline">
                    <FormValidation>
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                    </FormValidation>
                    <FormItems>
                        <FormItem Field="@nameof(ServicePartner.RagioneSociale)"></FormItem>
                        <FormItem Field="@nameof(ServicePartner.CodiceFornitore)"></FormItem>
                        <FormItem Field="@nameof(ServicePartner.CodiceCliente)"></FormItem>
                    </FormItems>
                    <FormButtons>
                        <TelerikButton Class="btn btn-secondary mr-auto" @onclick="() => WindowVisible = false" ButtonType="@ButtonType.Button">@localizer["Cancella"]</TelerikButton>
                        <TelerikButton Class="btn btn-success ml-auto" ButtonType="@ButtonType.Submit">@localizer["Salva"]</TelerikButton>
                    </FormButtons>
                </TelerikForm>

            }
        </div>
    </WindowContent>
</TelerikWindow>


@*OnEdit="@EditHandler"//*@
<TelerikGrid Data="@ServicePartners_filtered"
             EditMode="@GridEditMode.Popup"
             Pageable="true"
             Height="500px"
             OnUpdate="@UpdateHandler"
             Resizable="true"
             Sortable="true">
    <GridColumns>
        <GridColumn Field=@nameof(ServicePartner.CodiceFornitore) Title=@localizer["CODICE FORNITORE"] />
        <GridColumn Field=@nameof(ServicePartner.RagioneSociale) Title=@localizer["RAGIONE SOCIALE"] />
        <GridColumn Field=@nameof(ServicePartner.CodiceCliente) Title=@localizer["CODICE UTENTE"] />
        <GridCommandColumn Title="N° UTENTI" Context="sp">
            @{ var serviceP = sp as ServicePartner;
                <GridCommandButton Command="EditSP" Icon="" ImageUrl="/img/Icons/solid/primary/people-fill.svg" OnClick="@(() => NavigationManager.NavigateTo($"detailservicepartner/{serviceP.Id}"))" />
                @serviceP.Utenti.Count() }
        </GridCommandColumn>
        <GridCommandColumn Width="75px">
            <GridCommandButton Class="bt-cmd" Command="MyOwnCommand" Icon="" ShowInEdit="false" ImageUrl="/img/Icons/setting.svg" OnClick="@EditHandler"></GridCommandButton>
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>



<style>
    .myClasse {
        color: aliceblue;
        background-color: forestgreen
    }

    .cont {
        height: 115px
    }

    .cont-child {
        display: flex;
        flex-direction: row;
        height: 40px;
    }

    .editColor {
        color: aliceblue;
        background-color: dodgerblue
    }

    .btn-add {
        float: right;
        color: aliceblue;
        background-color: forestgreen;
        width: 180px
    }

    .btn-ad {
        position: absolute;
        right: 25px;
    }

    .tit-pg {
        display: inline-block;
    }

    div.k-widget.k-window.modal-app {
        width: 250px;
        height: 600px;
        border: 1px solid white
    }

    .modal-app .k-window-content.k-content.k-dialog-content {
    }

    .modal-app .k-button.telerik-blazor.k-primary.k-form-submit {
        border: 2px solid dodgerblue;
        color: aliceblue;
        background-color: dodgerblue;
        width: 700px;
    }

    .cas-ric {
        height: auto
    }

    .cerc-sp {
        position: absolute;
        right: 25px;
    }

    .k-form-buttons {
    }
</style>