@inject LavorazioneClient httpClient
@inject IStringLocalizer<App> localizer

<EditForm Model="NuovaLavorazione" OnValidSubmit="SalvaLavorazione">
    <DataAnnotationsValidator />

    <div>@ErrorMessage</div>
    <div class="form-field">
        <label class="text-capitalize">@localizer["NomeItaliano"]</label>
        <div>
            <InputText Class="form-control form-control-lg w100" @bind-Value="NuovaLavorazione.NomeItaliano"></InputText>
            <ValidationMessage For="() => NuovaLavorazione.NomeItaliano" />
        </div>
    </div>
    <div class="form-field mt-4">
        <label class="text-capitalize">@localizer["NomeRusso"]</label>
        <div>
            <InputText Class="form-control form-control-lg w100" @bind-Value="NuovaLavorazione.NomeRusso"></InputText>
            <ValidationMessage For="() => NuovaLavorazione.NomeRusso" />
        </div>
    </div>
    <div class="form-field">
        @*<button class="btn btn-secondary mr-auto" @onclick="OnClose">@localizer["Cancella"]</button>*@
        <button type="submit" class="btn btn-primary ml-auto w-100 mt-5" disabled="@isSubmitting">@localizer["Salva"]</button>
    </div>
</EditForm>