@inject IStringLocalizer<App> localizer
@inject RestExternalServiceClient RestClient

<EditForm Model="RicambioRequest" OnValidSubmit="Done">
    <DataAnnotationsValidator />
    <div>@ErrorMessage</div>

    <div class="form-field">
        <label>@localizer["Id"]</label>
        <div>
            <InputNumber Class="form-control form-control-lg w100" @onblur="ResetError" @bind-Value="RicambioRequest.Id" />
            <ValidationMessage For="() => RicambioRequest.Id" />
        </div>
    </div>

    <div class="form-field">
        <label>@localizer["CodiceRicambio"]</label>
        <div>
            <InputText Class="form-control form-control-lg w100" @onblur="ResetError" @bind-Value="RicambioRequest.SupplierId" />
            <ValidationMessage For="() => RicambioRequest.SupplierId" />
        </div>
    </div>

    <div class="form-field">
        <label>@localizer["Quantita"]</label>
        <div>
            <InputNumber Class="form-control form-control-lg w100" @onblur="ResetError" @bind-Value="RicambioRequest.Quantity" />
            <ValidationMessage For="() => RicambioRequest.Quantity" />
        </div>
    </div>

    <div class="form-field">
        <TelerikButton ButtonType="ButtonType.Submit" Class="btn btn-primary ml-auto w-100 mt-5" Enabled="@(!IsSubmitting && RicambioRequest.Quantity > 0)">@localizer["Salva"]</TelerikButton>
    </div>
</EditForm>