@inject MailClient httpClient
@inject IStringLocalizer<App> localizer
@inject AuthClient authClient
@inject UtenteClient utenteClient

<EditForm Model="NuovoUtente" OnValidSubmit="SalvaUtente">
    <DataAnnotationsValidator />

    <div>@ErrorMessage</div>
    <div class="form-field">
        <label class="text-capitalize">@localizer["Email"]</label>
        <div>
            <InputText Class="form-control form-control-lg w100" @bind-Value="NuovoUtente.UserName" />
            <ValidationMessage For="() => NuovoUtente.UserName" />
        </div>
    </div>
    <div class="form-field mt-4">
        <label class="text-capitalize">@localizer["Nome"]</label>
        <div>
            <InputText Class="form-control form-control-lg w100" @bind-Value="NuovoUtente.Nome" />
            <ValidationMessage For="() => NuovoUtente.Nome" />
        </div>
    </div>
    <div class="form-field mt-4">
        <label class="text-capitalize">@localizer["Cognome"]</label>
        <div>
            <InputText Class="form-control form-control-lg w100" @bind-Value="NuovoUtente.Cognome" />
            <ValidationMessage For="() => NuovoUtente.Cognome" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary ml-auto w-100 mt-4" disabled="@isSubmitting">@localizer["Salva"]</button>

</EditForm>