@inject LavorazioneClient httpClient
@inject IStringLocalizer<App> localizer

<EditForm Model="LavorazioneToUpdate" OnValidSubmit="SalvaLavorazione">
    <DataAnnotationsValidator />

    <div>@ErrorMessage</div>
    <div class="form-field">
        <label class="text-capitalize">@localizer["NomeItaliano"]</label>
        <div>
            <InputText Class="form-control form-control-lg w100" @bind-Value="LavorazioneToUpdate.NomeItaliano"></InputText>
            <ValidationMessage For="() => LavorazioneToUpdate.NomeItaliano" />
        </div>
    </div>
    <div class="form-field mt-4">
        <label class="text-capitalize">@localizer["NomeRusso"]</label>
        <div>
            <InputText Class="form-control form-control-lg w100" @bind-Value="LavorazioneToUpdate.NomeRusso"></InputText>
            <ValidationMessage For="() => LavorazioneToUpdate.NomeRusso" />
        </div>
    </div>

    @*<button class="btn btn-secondary mr-auto" @onclick="OnClose">@localizer["Cancella"]</button>*@
    <button type="submit" class="btn btn-primary ml-auto w-100 mt-4" disabled="@isSubmitting">@localizer["Salva"]</button>

</EditForm>