@inject ServicePartnerClient servicePartnerClient
@inject IStringLocalizer<App> localizer

<EditForm Model="SPToUpdate" OnValidSubmit="SalvaSp">
    <DataAnnotationsValidator />

    <div>@ErrorMessage</div>

    <div class="form-field">
        <label>@localizer["RagioneSociale"]</label>
        <div>
            <InputText Class="form-control form-control-lg w100" @bind-Value="SPToUpdate.RagioneSociale" />
            <ValidationMessage For="() => SPToUpdate.RagioneSociale" />
        </div>
    </div>
    <div class="form-field">
        <label>@localizer["CodiceFornitore"]</label>
        <div>
            <InputText Class="form-control form-control-lg w100" @bind-Value="SPToUpdate.CodiceFornitore" />
            <ValidationMessage For="() => SPToUpdate.CodiceFornitore" />
        </div>
    </div>
    <div class="form-field">
        <label>@localizer["CodiceCliente"]</label>
        <div>
            <InputText Class="form-control form-control-lg w100" @bind-Value="SPToUpdate.CodiceCliente" />
            <ValidationMessage For="() => SPToUpdate.CodiceCliente" />
        </div>
    </div>
    <div class="form-field">
        <button type="submit" class="btn btn-primary ml-auto w-100 mt-5" disabled="@isSubmitting">@localizer["Salva"]</button>
    </div>
</EditForm>