@inject DifettoClient httpClient 
@inject IStringLocalizer<App> localizer

<EditForm Model="NuovoDifetto" OnValidSubmit="SalvaDifetto">
    <div class="form-field">
        <label>@localizer["NomeItaliano"]</label>
        <div>
            <InputText @bind-Value="NuovoDifetto.NomeItaliano"></InputText>
            @if (NuovoDifetto.NomeItaliano == "")
            {<div> @localizer["CampoObbligatorio"]</div>}
        </div>
    </div>
    <div class="form-field">
        <label>@localizer["NomeRusso"]</label>
        <div>
            <InputText @bind-Value="NuovoDifetto.NomeRusso"></InputText>
            @if (NuovoDifetto.NomeRusso == "")
            {<div> @localizer["CampoObbligatorio"]</div>}
        </div>
    </div>

    <button class="btn btn-secondary mr-auto" @onclick="OnClose">@localizer["Cancella"]</button>
    <button type="submit" class="btn btn-success ml-auto" disabled="@isSubmitting">@localizer["Salva"]</button>
    <DataAnnotationsValidator />
</EditForm>