@inject LavorazioneClient httpClient
@inject IStringLocalizer<App> localizer

<EditForm Model="LavorazioneToUpdate" OnValidSubmit="SalvaLavorazione">
    <DataAnnotationsValidator />

    <div>@ErrorMessage</div>
    <div class="form-field">
        <label>@localizer["NomeItaliano"]</label>
        <div>
            <InputText @bind-Value="LavorazioneToUpdate.NomeItaliano"></InputText>
            <ValidationMessage For="() => LavorazioneToUpdate.NomeItaliano" />
        </div>
    </div>
    <div class="form-field">
        <label>@localizer["NomeRusso"]</label>
        <div>
            <InputText @bind-Value="LavorazioneToUpdate.NomeRusso"></InputText>
            <ValidationMessage For="() => LavorazioneToUpdate.NomeRusso" />
        </div>
    </div>

    @*<button class="btn btn-secondary mr-auto" @onclick="OnClose">@localizer["Cancella"]</button>*@
    <button type="submit" class="btn btn-success ml-auto" disabled="@isSubmitting">@localizer["Salva"]</button>

</EditForm>