@layout TelerikLayout
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject FonditalAuthenticationState authState
@inject IStringLocalizer<App> localizer

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none
    }

    @@media(min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem
        }
    }
</style>

<!-- Custom styles for this template -->
<link href="css/bootstrap-child.css" rel="stylesheet">

<header class="bgBlu mb-5 sticky-top">
    <div class="container-fluid">
        <div class="flex-wrap">
            <div class="row align-items-center pr-4">

                <div class="col-2  p-0 bgBianco">
                    <div class="logo text-center"><img src="img/fondital-logo.svg" alt="logo" /></div>
                </div>

                <div class="col-7 condensed-bold">
                    <ul class="nav nav-pills col-12 col-lg-auto ml-40 mb-2 mb-md-0">
                        <li class="nav-item dropdown">
                            <TelerikDropDownList Class="nav-link dropdown-toggle dropdown-custom-toggle active" PopupClass="dropdown-item"
                                                 Data="@Anags" @bind-Value="CurrentAnag" OnChange="@(() => Navigate(""))" DefaultText="@((CurrentAnag==null)?localizer["Anagrafiche"]:null)">
                            </TelerikDropDownList>
                        </li>

                        <li class="nav-item">
                            <TelerikButton Class="nav-link" OnClick="@(() => Navigate(""))">
                                @localizer["GestioneRapporti"]
                            </TelerikButton>
                        </li>

                        <li class="nav-item">
                            <TelerikButton Class="nav-link" OnClick="@(() => Navigate("configurazioni"))">
                                @localizer["ConfigurazioniGenerali"]
                            </TelerikButton>
                        </li>
                        <li class="nav-item px-3">
                            <LoginDisplay />
                        </li>
                    </ul>
                </div>

                <div class="col-1 text-right">
                    <div class="lingua float-lg-left border-bottom">
                        <CultureSelector />
                    </div>
                </div>

                <div class="col-2">
                    <div class="float-lg-right">
                        <div class="float-lg-left link-light">
                            <ul class="mb-0 profilo">
                                <li class="nomeUtente">@localizer["Ciao"]</li>
                                <li class="ruoloUtente">@localizer["RuoloDirezione"]</li>
                            </ul>
                        </div>

                        <div class="float-lg-left align-items-center">
                            <a class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle" />
                            </a>

                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                                <li>
                                    <a class="dropdown-item" href="">@localizer["Impostazioni"]</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">@localizer["Esci"]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

