@layout TelerikLayout
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager 

<div style="background-color:white!important; padding:0; height:100%">
    <img src="/img/logo.svg" style="height: 70%; padding: 0 2rem; position: relative; top: 50%; transform: translate(0%,-50%)" />
</div>

<div style="margin-left:3rem">
    <TelerikDropDownList Data="@Anags" @bind-Value="CurrentAnag" Width="auto"
                         PopupHeight="auto" DefaultText="@((CurrentAnag==null)?"ANAGRAFICHE":null)" PopupWidth="auto" OnChange="Navigate">
    </TelerikDropDownList>
    <TelerikButton OnClick="Navigate">
        GESTIONE RAPPORTI
    </TelerikButton>
    <TelerikButton OnClick="Navigate">
        CONFIGURAZIONI GENERALI
    </TelerikButton>
</div>

<div style="width:70px; margin-left:auto">
    <TelerikDropDownList ValueField="@CurrentLanguage" Data="@Languages"
                         @bind-Value="CurrentLanguage" Width="100%"
                         PopupHeight="auto">
    </TelerikDropDownList>
</div>

<style>
    .Oval {
        width: 48px;
        height: 48px;
        margin: 0 0 0 24px;
        padding: 16px 12.5px;
        background-color: #f4f4f4;
        border-radius: 50%
    }

    .AG {
        width: 23px;
        height: 16px;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.22px;
        text-align: center;
        color: #007bff;
    }

    .Ciao-Armando {
        width: 93px;
        height: 21px;
        margin: 5px 24px 0px 73px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.19px;
        text-align: right;
        color: white;
    }

    .direzione {
        width: 44px;
        height: 21px;
        margin: -5px 24px 0px 122px;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.1;
        letter-spacing: 0.14px;
        text-align: right;
        color: #000;
    }
</style>

<div style="border-left: 2px solid white; height: 42px">
    <span class="Ciao-Armando d-block">Ciao @(UserFirstName)</span>
    <span class="direzione d-block">direzione</span>
</div>

<div hidden="@(!ViewUserMenu)" style="border:2px solid grey; top:64px; position:absolute; right:0px">
    <ul class="p-0 my-2" style="list-style: none">
        @foreach (var Item in UserMenuList)
        {
        <li> <a @onclick="ToggleUserMenu" style="margin:auto; cursor:pointer">@Item</a> </li>
        }
    </ul>
</div>

<div class="Oval ml-0" @onclick="ToggleUserMenu" style="cursor:pointer">
    <p class="AG">@(UserFirstName.ToUpper().First())@(UserLastName.ToUpper().First())</p>
</div>

@code
{
    string UserFirstName = string.Empty;
    string UserLastName = string.Empty;

    string CurrentLanguage = string.Empty;
    List<string> Languages;

    string CurrentAnag = string.Empty;
    List<string> Anags;

    List<string> UserMenuList;

    bool ViewUserMenu = false;

    protected override Task OnInitializedAsync()
    {
        Languages = new List<string> { "ITA", "RUS" };
        CurrentLanguage = "ITA";
        Anags = new List<string> { "Anagrafiche SP", "Anagrafiche Difetti", "Anagrafiche Lavorazioni", "Anagrafiche Voci di Costo", "Listino" }; 
        CurrentAnag = null;
        UserMenuList = new List<string> { "Cambia Password", "LogOut" };
        ViewUserMenu = false;

        UserFirstName = "Lupo";
        UserLastName = "Lucio";

        return base.OnInitializedAsync();
    }

    public void ToggleUserMenu()
    {
        ViewUserMenu = !ViewUserMenu;
    }

    public void Navigate()
    {
        NavigationManager.NavigateTo("/traces");
    }
}
