@layout TelerikLayout
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject IStringLocalizer<App> localizer

<header class="bgBlu mb-5 sticky-top">
    <div class="container-fluid">
        <div class="flex-wrap">
            <div class="row align-items-center pr-4">
                <div class="col-2  p-0 bgBianco">
                    <div class="logo text-center"><img src="img/fondital-logo.svg" alt="logo"></div>
                </div>
                <div class="col-7 condensed-bold">
                    <NavMenu></NavMenu>
                </div>
                <div class="col-1 text-right">
                    <div class="lingua float-lg-left border-right-2">
                        <CultureSelector></CultureSelector>
                    </div>
                </div>
                <div class="col-2">
                    <div class="float-lg-right">
                        <div class="float-lg-left link-light">
                            <ul class="mb-0 profilo">
                                <li class="nomeUtente">@localizer["Ciao"] @context.User.Identity.Name</li>
                                <li class="ruoloUtente">@localizer["RuoloDirezione"]</li>
                            </ul>
                        </div>
                        <div class="float-lg-left align-items-center">
                           

                            <div class="nomeCircle fontProfilo">GDD</div>

                            <TelerikMenu Data="@MenuItems"
                                         UrlField="@nameof(MenuItem.Page)"
                                         ItemsField="@nameof(MenuItem.SubSectionList)"
                                         TextField="@nameof(MenuItem.Section)"
                                         Class="menuProfilo"
                                         >
                            </TelerikMenu>



                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


@code {
    public List<MenuItem> MenuItems { get; set; }

    public class MenuItem
    {
        public string Section { get; set; }
        public string Page { get; set; }
        public List<MenuItem> SubSectionList { get; set; }
    }

    protected override void OnInitialized()
    {
        MenuItems = new List<MenuItem>()
    {
            
            new MenuItem()
            {
                Section = "",
                SubSectionList = new List<MenuItem>()
            {
                    new MenuItem()
                    {
                        Section = @localizer["Impostazioni"],
                        Page = "/profilo"
                    },
                    new MenuItem()
                    {
                        Section = @localizer["Esci"],
                        Page = "/logout"
                    }
                }
            }
        };

        base.OnInitialized();
    }
}