@layout TelerikLayout
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IStringLocalizer<App> localizer
@inject CurrentStateProvider StateProvider

<header class="bgBlu mb-5 sticky-top">
    <div class="container-fluid">
        <div class="flex-wrap">
            <div class="row align-items-center pr-4">
                <div class="col-2  p-0 bgBianco">
                    <div class="logo text-center"><img src="img/fondital-logo.svg" alt="logo"></div>
                </div>
                <div class="col-7 condensed-bold">
                    <NavMenu></NavMenu>
                </div>
                <div class="col-1 text-right">
                    <div class="lingua float-lg-left border-right-2">
                        <CultureSelector></CultureSelector>
                    </div>
                </div>
                <AuthorizeView>
                    <Authorized>
                        @if (UtenteCorrente != null)
                        {
                            <div class="col-2">
                                <div class="float-lg-right">
                                    <div class="float-lg-left link-light">
                                        <ul class="mb-0 profilo">
                                            <li class="nomeUtente">@localizer["Ciao"] @UtenteCorrente?.Nome</li>
                                            <li class="ruoloUtente">@localizer["RuoloDirezione"]</li>
                                        </ul>
                                    </div>
                                    <div class="float-lg-left align-items-center">
                                        <ul class="dropdownMenu">
                                            <li class="dropdown">
                                                <a href="javascript:void(0)" class="dropbtn"> <div class="nomeCircle fontProfilo">@UtenteCorrente?.Nome.First()@UtenteCorrente?.Cognome.First()</div></a>
                                                <div class="menuProfilo">
                                                    <a href="javascript:void(0)" class="dropbtn"><span class="k-icon k-menu-expand-arrow k-i-arrow-60-down" role="presentation"></span></a>
                                                </div>
                                                <div class="dropdown-content">
                                                    @*<a href="/profile" title="@localizer["Impostazioni"]">@localizer["Impostazioni"]</a>*@
                                                    <a href="/account/logout" title="@localizer["Esci"]" class="noborder">@localizer["Esci"]</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</header>