@page  "/account/changepassword/{Email}"
@inject IStringLocalizer<App> localizer
@inject AuthClient authClient
@inject NavigationManager navManager
@inject ILoginService loginService
@inject IStringLocalizer<App> localizer

<main class="col-md-12 ms-sm-auto col-lg-12">
    <EditForm Model="ChangeForm" OnValidSubmit="ChangePw">
        <div class="col-md-3 mx-auto mt-160">
            <div asp-validation-summary="All" class="text-danger">
                <Alert Title=@localizer["Attenzione"] Error="@Error" />
            </div>

            <div class="form-group mb-32">
                <label class="form-label">@localizer["VecchiaPassword"].Value.ToUpper()</label>
                <InputText type="password" @bind-Value="ChangeForm.OldPassword" class="form-control form-control-lg w100 inp-login icoPsw" placeholder=@localizer["VecchiaPassword"]></InputText>
                <ValidationMessage For="@(() => ChangeForm.OldPassword)" />
                @*<span asp-validation-for="model.Password" class="text-danger"></span>*@
            </div>

            <div class="form-group mb-32">
                <label class="form-label">@localizer["NuovaPassword"].Value.ToUpper()</label>
                <InputText type="password" @bind-Value="ChangeForm.NewPassword" class="form-control form-control-lg w100 inp-login icoPsw" placeholder=@localizer["NuovaPassword"]></InputText>
                <ValidationMessage For="@(() => ChangeForm.NewPassword)" />
                @*<span asp-validation-for="model.Password" class="text-danger"></span>*@
            </div>

            <div class="form-group mb-56">
                <label class="form-label">@localizer["ConfermaPassword"].Value.ToUpper()</label>
                <InputText type="password" @bind-Value="ChangeForm.ConfirmPassword" class="form-control form-control-lg w100 inp-login icoPsw" placeholder=@localizer["ConfermaPassword"]></InputText>
                <ValidationMessage For="@(() => ChangeForm.ConfirmPassword)" />
                @*<span asp-validation-for="model.Password" class="text-danger"></span>*@
            </div>

            <DataAnnotationsValidator />
            @*<ValidationSummary />*@

            <div class="form-group">
                <TelerikButton Icon="account_circle" Class="btn btn-primary w100 uppercase">@localizer["Modifica"]</TelerikButton>
            </div>
        </div>
    </EditForm>
</main>